@import './global.css';

/* head */
.idea {
    background-color: #232536;
}

/* blog section */
.blog-section {
    background-color: #ecf8f9;
    padding-bottom: 96px;
    padding-top: 96px;
}
.blog-section-container {
}
.blog-section-title {
    margin-bottom: 48px;
    font-size: 48px;
}
.blog-items {
    display: flex;
    gap: 32px;
}
.blog-item {
    width: 100%;
    display: flex;
    background: #ffffff;
    align-items: center;
    
}
.blog-item-image {
}
.blog-content {
    display: flex;
    flex-direction: column;
    padding: 32px;
}
.blog-item-title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 24px;
}
.btn {
}

.btn-blog {
  padding: 0;
}

.blog-time {
    color: rgba(35, 37, 54, 60%);
    margin-bottom: 8px;
}

.btn-text {
    color: #444cfc;
}
.cub {
    display: flex;
    padding-bottom: 19px;
}

.idea-section {
    
    background-color: #232536;
}

.idea-title {
    width: 624px;
    color: #ffffff;
    font-size: 56px;
    font-weight: 600;
    line-height: 68px;
}

.idea-subtitle {
    width: 528px;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
}

.idea-item {
    list-style: none;
    display: flex;
    gap: 35px;
}

.idea-item-list {
    gap: 15px;
}

.idea-our-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #ffffff;
    opacity: 60%;

}

.idea-work-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
}

.idea-logo {
    display: flex;
    flex-direction: column;
    
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 48px;
}
.about-left {

}
.about-subtitle-left {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    opacity: 87%;
    padding-bottom: 16px;
}
.about-title-left {
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
}
.about-right {
}
.about-title-right {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
}
.about-ptitle-right {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #5D5F6D;
}

.meeting {
}
.meeting-list {
    display: flex;
     gap: 11px;
}
.meeting-item {
    
}
.meeting-img {
   
}

.expertise-container { 
    background-color: #ECF8F9;
}